$colour-pri:#F71565;
$colour-sec:#F1F1F1;
$colour-ter:#323232;
$colour-uni:#000;
$colour-ori:#FFB667;
$colour-mast:#41caae;
$colour-pri-hover: darken($colour-pri, 100%);
$gutter-0: 10px;
$gutter-1: 20px;
$gutter-2: 30px;
$gutter-3: 40px;