// color
$colour-pri:#FFB667;
$colour-sec:#F1F1F1;
$colour-ter:#323232;
$colour-uni:#222;

$colour-pri-hover:#FFB667;

// space
$gutter-0: 10px;
$gutter-1: 20px;
$gutter-2: 30px;
$gutter-3: 40px;

$btn-bkg: $colour-pri;